.App {
  text-align: center;
}

.logo {
  height: 10vh;

}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #0240bc;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-body .Row-container {
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  column-gap: 20px;
}
.App-body .Row-container h2{
  width: 30vw;
}
.App-body .Row-container p{
  font-size: 18px;
  width: 30vw;
  text-align: left;
  margin: 0px 7px;
}
.App-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App-link {
  color: #61dafb;
}
.Small-title {
  size: 1.5em;
}
.Links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Links a {
  padding: 6px 12px;
  border: 3px solid black;
  border-radius: 4px;
  vertical-align: middle;
  text-decoration: none;
  margin: 0px 10px;
  background-color: darkgoldenrod;
  font-size: 20px;
  min-width: 20vh;
  color: white;

}
.Links a:visited {
  color: white;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
