.App {
  text-align: center;
}

.logo {
  width:18vw;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #0240bc;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App-link {
  color: #61dafb;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
